Package: v8js
Maintainer: Artyom Artyomkin <artem.artemkin@topvisor.com>
Architecture: amd64
Description: Высокопроизводительный движок JavaScript, написанный на C++. Используется для исполнения JS кода в любом браузере.
